openapi: 3.0.0
servers:
  - description: Crime Case Prison Court Register API
    url: https://api-cp-crime-results-pcr.net/{version}
    variables:
      version:
        default: 0.1.0
        description: API version; matches the spec info.version

info:
  title: Crime Case Prison Court Register API
  description: >-
    Returns the prosecution case results recorded at a hearing, per defendant —
    the result for each offence and each court application, including any
    sentence handed down, enriched with Reference Data classifications.


    This API processes personal data under Article 6(1)(e) UK GDPR (public
    task) and the administration of justice provisions of Schedule 1 Part 2
    DPA 2018. Special category data, where present, is processed under
    Article 9(2)(f) UK GDPR (legal claims) or Article 9(2)(g) (substantial
    public interest).
  version: 0.1.0
  contact:
    email: no-reply@hmcts.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'

security:
  - oAuthJwt: []
    SubscriptionKey: []

tags:
  - name: pcr
    description: Prison Court Register version history and versions, per hearing and defendant

paths:
  /pcrs/cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}:
    get:
      summary: Get the PCR version history for a hearing and defendant
      description: >-
        Returns every version recorded for the given case, hearing and
        defendant — one PCR resource per `(hearingId, defendantId)` pair, per
        the Data Store's unit of work. Each version is tagged with its source
        correlation id, minted once at the source event and propagated
        through, not generated by this API. If no version has been recorded
        yet for the hearing and defendant, an empty list is returned. If the
        case, hearing, or defendant does not exist, a not found response is
        returned.


        This operation returns OFFICIAL-SENSITIVE data (defendant address).
        Caller must hold the `hmcts:prosecution-case-results:read` scope.
      operationId: getPcrVersionHistory
      tags:
        - pcr
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
      responses:
        '200':
          description: PCR version history found
          headers:
            X-Correlation-Id:
              description: Echoes the request correlation ID for end-to-end tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PcrVersionHistory"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

  /pcrs/cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}/versions:
    get:
      summary: Get a PCR version by version query — a specific id, or the latest
      description: >-
        Returns a single PCR version for the given case, hearing and
        defendant, selected by the required `version` query parameter.
        `version=latest` returns the most recently recorded version, without
        the caller needing to know its source correlation id in advance. Any
        other value is treated as a source correlation id — minted once at
        the source event and propagated through, not generated by this API,
        and hearing-scoped rather than defendant-scoped, so `defendantId`
        disambiguates which defendant's version to return; the real identity
        of a version is the composite `(id, defendantId)`. The same id
        already reaches the consumer via the existing subscriber callback
        notification. If no version exists for the supplied identifiers, a
        not found response is returned. Lookup by a specific id is not yet
        supported — see the `501` response.


        This operation returns OFFICIAL-SENSITIVE data (defendant address).
        Caller must hold the `hmcts:prosecution-case-results:read` scope.
      operationId: getPcrVersion
      tags:
        - pcr
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
        - $ref: "#/components/parameters/VersionQuery"
      responses:
        '200':
          description: PCR version found
          headers:
            X-Correlation-Id:
              description: Echoes the request correlation ID for end-to-end tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PcrVersion"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"
        '501':
          $ref: "#/components/responses/NotImplemented"

components:
  securitySchemes:
    oAuthJwt:
      type: oauth2
      description: >-
        OAuth 2.0 protection. Callers must present a valid JWT bearer access
        token obtained via the client credentials flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-cp-crime-results-pcr.net/oauth2/token
          scopes:
            hmcts:prosecution-case-results:read: Read access to prosecution case results data
    SubscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: >-
        HMCTS APIM subscription key identifying the consuming system. Issued
        per consumer when their APIM product subscription is provisioned.

  parameters:
    CaseUrnPath:
      in: path
      name: caseURN
      required: true
      description: Unique Case URN identifying the prosecution case
      schema:
        type: string
      example: "example-case-urn"
    HearingIdPath:
      in: path
      name: hearingId
      required: true
      description: Unique identifier of the hearing
      schema:
        type: string
        format: uuid
      example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
    DefendantIdPath:
      in: path
      name: defendantId
      required: true
      description: Unique identifier of the defendant
      schema:
        type: string
        format: uuid
      example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
    VersionQuery:
      in: query
      name: version
      required: true
      description: >-
        Which version to return. The literal value `latest` returns the most
        recently recorded version. Any other value is treated as the source
        correlation id of a specific version — minted once at the source
        event and propagated through, not generated by this API;
        hearing-scoped, not defendant-scoped, since the same id is shared
        across every defendant resulted from the same source event. Lookup by
        a specific id is not yet supported — see the `501` response.
      schema:
        type: string
      example: "latest"

  responses:
    BadRequest:
      description: Bad input parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "BAD_REQUEST"
            message: "The supplied hearingId is not a valid UUID"
            details:
              parameter: "hearingId"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "b2f1c3d4e5f60718"
    Unauthorized:
      description: Authentication is missing or the access token is invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "UNAUTHORIZED"
            message: "Access token is missing or invalid"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "c3a2b4d5e6f70819"
    Forbidden:
      description: The access token does not grant the required scope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "FORBIDDEN"
            message: "The access token does not grant the required scope hmcts:prosecution-case-results:read"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "d4b3c5e6f708192a"
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "NOT_FOUND"
            message: "No PCR version found for the supplied identifiers"
            details:
              caseURN: "example-case-urn"
              hearingId: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
              defendantId: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "e5c4d6f708192a3b"
    InternalServerError:
      description: An unexpected error occurred
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "INTERNAL_SERVER_ERROR"
            message: "An unexpected error occurred while processing the request"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "f6d5e708192a3b4c"
    NotImplemented:
      description: Lookup by a specific version id is not yet supported
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "NOT_IMPLEMENTED"
            message: "Version lookup by a specific id is not yet supported"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "07e6f819203a4b5d"

  schemas:
    PcrVersionHistory:
      description: >-
        Every version recorded for a single `(hearingId, defendantId)` PCR
        resource — the Data Store's unit of work is one PCR per defendant per
        hearing, with its own version history.
      type: object
      properties:
        hearingId:
          description: Unique identifier of the hearing the versions were recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        defendantId:
          description: Unique identifier of the defendant the versions were recorded for
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        versions:
          description: >-
            Every recorded version for this hearing and defendant, in no
            guaranteed order.
          type: array
          items:
            $ref: "#/components/schemas/PcrVersion"

    PcrVersion:
      description: >-
        A single version of the recorded prosecution case results for a
        hearing and defendant. The real identity of a version is the
        composite `(id, defendantId)` — `id` alone is hearing-scoped and
        shared across every defendant resulted from the same source event.
      type: object
      properties:
        id:
          description: >-
            Source correlation id for this version. Minted once at the
            source event and propagated through — not generated by this API.
            Hearing-scoped, not defendant-scoped. Nullable during the phase 1
            stateless-proxy rollout, where no event-correlation pipeline
            exists yet to populate it — tightens to always-present once
            phase 2 delivers real correlation ids.
          type: string
          nullable: true
          example: "01hxjk8v3xj0e5jz2h1p4c6q7r"
        hearingId:
          description: Unique identifier of the hearing the version was recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        defendantId:
          description: Unique identifier of the defendant the version was recorded for
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        prosecutionCase:
          $ref: "#/components/schemas/ProsecutionCase"
        caseMarkers:
          description: >-
            Case-level markers recorded against the prosecution case (e.g.
            domestic-violence, vulnerability). Sourced from
            `prosecutionCase.caseMarkers[]` — a case-level fact in CP, not
            derived per offence or per defendant.
          type: array
          items:
            $ref: "#/components/schemas/CaseMarker"
        defendant:
          $ref: "#/components/schemas/Defendant"
        custodyLocation:
          description: >-
            The defendant's custody location at the time of the hearing, where
            recorded. Note: this value is generated by CP's results pipeline
            but whether it is printed on the equivalent Prison Court Register
            document is unverified either way — the document template lives
            in an external repo not present in this workspace.
          type: string
          nullable: true
        hearing:
          $ref: "#/components/schemas/HearingDetails"
        offences:
          description: Results for each offence charged against the defendant at this hearing
          type: array
          items:
            $ref: "#/components/schemas/Offence"
        courtApplications:
          description: >-
            Court applications (bail applications, variations, etc.) and any
            results recorded against them.
          type: array
          items:
            $ref: "#/components/schemas/CourtApplication"

    ProsecutionCase:
      description: >-
        Identity of the prosecution case. CP's internal case UUID is
        deliberately not exposed here — the case URN is the only case
        identifier consumers should hold or reference.
      type: object
      properties:
        caseURN:
          description: >-
            Prosecution case URN — CP's own field name (`ProsecutionCaseIdentifier.caseURN`
            in `cpp-context-hearing`), not an invented API-only name.
          type: string
          example: "example-case-urn"

    CaseMarker:
      description: A marker recorded against the whole prosecution case
      type: object
      properties:
        code:
          description: Marker type code, e.g. "DomesticViolence"
          type: string
          example: "DomesticViolence"
        description:
          description: Human-readable description of the marker
          type: string
          nullable: true
          example: "Domestic violence case marker"

    Defendant:
      description: >-
        Defendant identity as recorded on the prosecution case at this
        hearing. Deliberately limited to identifiers only — consumers resolve
        the defendant's personal details (name, DOB, address) themselves via
        defendantId/masterDefendantId against their own systems (e.g. NOMIS),
        so this API never carries that personal data.
      type: object
      properties:
        id:
          description: CP's unique identifier for the defendant
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        masterDefendantId:
          description: >-
            Master defendant identifier used to resolve the defendant's
            identity across cases and appearances, where resolved.
          type: string
          format: uuid
          nullable: true
          example: "a1f2e3d4-c5b6-4789-9abc-1d2e3f4a5b6c"

    HearingDetails:
      description: Facts recorded about the hearing itself
      type: object
      properties:
        courtHouseCode:
          description: >-
            CP Reference Data's court house code. CP's own faithful
            identifier for the court house — resolving it to any other
            consumer's reference data is the consumer's concern, not this
            contract's.
          type: string
          nullable: true
          example: "LND001"
        courtHouseName:
          description: Name of the court house, for display without a Reference Data lookup.
          type: string
          nullable: true
          example: "Central London Crown Court"
        hearingDate:
          description: Date of the hearing.
          type: string
          format: date
          example: "2026-06-23"
        hearingOutcome:
          description: Recorded outcome of the hearing, where set.
          type: string
          nullable: true
        warrantType:
          description: >-
            Type of warrant associated with the hearing, where recorded (e.g.
            SENTENCING, NON_SENTENCING, IMMIGRATION).
          type: string
          nullable: true
        overallConvictionDate:
          description: >-
            Overall conviction date for the hearing, where recorded. Where not
            set, it can be derived from the conviction dates on individual
            offences (`Offence.convictionDate`).
          type: string
          format: date
          nullable: true
        nextHearing:
          $ref: "#/components/schemas/NextHearing"

    NextHearing:
      description: >-
        The next scheduled hearing following this one, where known. CP's own
        field name (`nextHearing`), not an invented API-only name. Open item:
        when offences on the same case adjourn to different future dates,
        which one this object reflects is not yet confirmed on CP's side.
      type: object
      nullable: true
      properties:
        date:
          type: string
          format: date
          nullable: true
          example: "2026-07-21"
        time:
          description: >-
            Scheduled time of the next appearance. Open item — not yet
            confirmed present on every hearing's results payload.
          type: string
          nullable: true
        courtHouseCode:
          type: string
          nullable: true
        courtHouseName:
          type: string
          nullable: true
        hearingId:
          description: Identifier of the next hearing, where known.
          type: string
          format: uuid
          nullable: true

    Offence:
      description: A single offence and the result(s) recorded against it
      type: object
      properties:
        id:
          description: Unique identifier of the offence
          type: string
          format: uuid
          example: "c4a1b2d3-e5f6-4789-9abc-0d1e2f3a4b5c"
        code:
          description: Offence code, aligned with OMS.
          type: string
          example: "example-offence-code"
        title:
          description: Offence title.
          type: string
          nullable: true
          example: "Theft from a shop"
        wording:
          description: Full wording of the offence as charged.
          type: string
          nullable: true
        startDate:
          description: Offence start date.
          type: string
          format: date
          example: "2026-06-13"
        endDate:
          description: >-
            Offence end date, where recorded — populated for terminated
            offences only.
          type: string
          format: date
          nullable: true
        listingNumber:
          description: The listing/count number the offence was recorded against, where set.
          type: integer
          nullable: true
        convictionDate:
          description: Conviction date recorded against the offence, where applicable.
          type: string
          format: date
          nullable: true
        pleaValue:
          description: Plea recorded against the offence, where taken.
          type: string
          nullable: true
        pleaDate:
          description: Date the plea was recorded, where taken. Kept as its own field rather than folded into pleaValue's text.
          type: string
          format: date
          nullable: true
        verdictCode:
          description: Verdict code recorded against the offence, where applicable.
          type: string
          nullable: true
        results:
          description: >-
            Judicial result(s) recorded against this offence. An offence can
            carry more than one result (e.g. a conviction result plus a
            separate costs/compensation or ancillary result) — this is CP's
            real shape and is not collapsed to a single result.
          type: array
          items:
            $ref: "#/components/schemas/JudicialResult"

    JudicialResult:
      description: >-
        A single judicial result, with its Reference Data classification and
        any sentence detail it carries. Reused for both offence results and
        court application results — they are the same kind of CP fact,
        wherever they are recorded.
      type: object
      properties:
        resultCode:
          description: CJS result code for this judicial result.
          type: string
          example: "1200"
        resultText:
          description: Rendered result text.
          type: string
          example: "Sentenced to 6 months imprisonment"
        postHearingCustodyStatus:
          description: >-
            From Reference Data's `ResultDefinition.postHearingCustodyStatus`
            (confirmed directly against the reference-data fixture, alongside
            `financial`/`category`/`convicted`/`publishedForNows`) — CP's own
            classification of the resulting custody/bail status.
          type: string
          nullable: true
          example: "Bailed"
        financial:
          description: From `ResultDefinition.financial` — whether this result type is inherently financial.
          type: string
          enum: [Y, N]
          nullable: true
        category:
          description: From `ResultDefinition.category`.
          type: string
          nullable: true
        convicted:
          description: From `ResultDefinition.convicted` — whether this result type represents a conviction.
          type: string
          enum: [Y, N]
          nullable: true
        judicialResultPrompts:
          description: >-
            Raw judicial result prompts recorded against this result, exposed
            as-is so consumers can build their own downstream logic on top of
            structured signals (e.g. terrorism/foreign-power flags) rather
            than depend only on CP's own derived convenience fields.
          type: array
          items:
            $ref: "#/components/schemas/JudicialResultPrompt"
        concurrent:
          description: Whether this sentencing result runs concurrently with another. Only meaningful where this result is a sentence.
          type: boolean
          nullable: true
        consecutiveToDate:
          description: >-
            Date of the sentence this one runs consecutively to, where
            recorded. CP holds this as a date and a court name, not a
            reference to another sentence's identifier — exposed as CP
            actually holds it, not as a foreign key CP doesn't have. Only
            meaningful where this result is a sentence.
          type: string
          format: date
          nullable: true
        consecutiveToCourtName:
          description: Name of the court that imposed the sentence this one runs consecutively to, where recorded. Only meaningful where this result is a sentence.
          type: string
          nullable: true
        fineAmount:
          description: >-
            Fine amount imposed alongside this sentence, where applicable.
            Excludes costs and victim surcharge, which are separate result
            types. Only meaningful where this result is a sentence.
          type: number
          format: double
          nullable: true
        imprisonmentPeriod:
          description: >-
            The custodial period for this sentencing result, as CP records it
            — a free-text phrase (e.g. "6 Months 1 week"), not pre-parsed into
            components. Consumers needing a structured breakdown parse it
            themselves; CP does not commit to any one consumer's decomposition
            as the contract shape. Only meaningful where this result is a
            sentence.
          type: string
          nullable: true
          example: "6 Months 1 week"
        totalCustodialPeriod:
          description: >-
            The total custodial period across the sentence, where it differs
            from `imprisonmentPeriod` (e.g. where consecutive terms combine).
            Same free-text convention as `imprisonmentPeriod`. Only meaningful
            where this result is a sentence.
          type: string
          nullable: true

    JudicialResultPrompt:
      description: A single prompt recorded against a judicial result
      type: object
      properties:
        label:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
        promptReference:
          type: string
          nullable: true
        type:
          description: Prompt value type, e.g. "BOOLEAN", "TEXT", "DATE".
          type: string
          nullable: true

    CourtApplication:
      description: A court application (bail application, variation, etc.) and any results recorded against it
      type: object
      properties:
        id:
          description: Unique identifier of the court application
          type: string
          format: uuid
          example: "a9b8c7d6-e5f4-4321-9876-0a1b2c3d4e5f"
        reference:
          description: Court application reference
          type: string
          example: "example-application-reference"
        type:
          description: Application type.
          type: string
          nullable: true
        decision:
          description: Decision made on the application, where applicable.
          type: string
          nullable: true
        decisionDate:
          type: string
          format: date
          nullable: true
        response:
          description: Response to the application, where applicable.
          type: string
          nullable: true
        responseDate:
          type: string
          format: date
          nullable: true
        results:
          description: >-
            Judicial results recorded directly against the application itself
            (CP source: `CourtApplication.judicialResults`) — distinct from
            results recorded against a specific offence the application
            relates to, which appear under `offences[].results` instead.
          type: array
          items:
            $ref: "#/components/schemas/JudicialResult"
        offences:
          description: >-
            Offence(s) this application relates to, where linked — CP source:
            `CourtApplication.courtApplicationCases[].offences[]` (the same
            offences as the linked case) and `courtOrder.courtOrderOffences[]`,
            folded together here since consumers don't need to distinguish how
            an offence came to be linked to the application. Empty for a
            standalone application with no case/offence link.
          type: array
          items:
            $ref: "#/components/schemas/Offence"

    ErrorResponse:
      description: Standard error response
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "No PCR version found for the supplied identifiers"
        details:
          description: Additional error context, where applicable
          type: object
          nullable: true
          properties:
            parameter:
              description: Name of the invalid request parameter, for BAD_REQUEST errors
              type: string
              nullable: true
              example: "hearingId"
            id:
              description: The source correlation id supplied in the request, for NOT_FOUND errors
              type: string
              nullable: true
              example: "01hxjk8v3xj0e5jz2h1p4c6q7r"
            caseURN:
              description: The case URN supplied in the request, for NOT_FOUND errors
              type: string
              nullable: true
              example: "example-case-urn"
            hearingId:
              description: The hearing ID supplied in the request, for NOT_FOUND errors
              type: string
              format: uuid
              nullable: true
              example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
            defendantId:
              description: The defendant ID supplied in the request, for NOT_FOUND errors
              type: string
              format: uuid
              nullable: true
              example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        timestamp:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        traceId:
          type: string
          description: Unique identifier for error tracing
          example: "b2f1c3d4e5f60718"