openapi: 3.0.0
servers:
  - description: Crime Case Prison Court Register API
    url: https://api-cp-crime-results-pcr.net/{version}
    variables:
      version:
        default: 0.1.0
        description: API version; matches the spec info.version

info:
  title: Crime Case Prison Court Register API
  description: >-
    Returns the prosecution case results recorded at a hearing, per defendant —
    the result for each offence and each court application, including any
    sentence handed down, enriched with Reference Data classifications.


    This API processes personal data under Article 6(1)(e) UK GDPR (public
    task) and the administration of justice provisions of Schedule 1 Part 2
    DPA 2018. Special category data, where present, is processed under
    Article 9(2)(f) UK GDPR (legal claims) or Article 9(2)(g) (substantial
    public interest).
  version: 0.1.0
  contact:
    email: no-reply@hmcts.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'

security:
  - bearerAuth: []
    subscriptionKey: []

tags:
  - name: pcr
    description: Prison Court Register(s) results per case, hearing and defendant
  - name: Internal
    description: Internal, platform-only operations — not exposed via the public APIM gateway

paths:
  /cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}:
    get:
      summary: Get the PCR hearing results history for a hearing and defendant
      description: >-
        Returns PCR hearing results recorded for the given case, hearing and
        defendant. If no result has been recorded yet for the hearing and
        defendant, an empty list is returned. If the case, hearing, or
        defendant does not exist, a not found response is returned.


        This operation returns OFFICIAL-SENSITIVE data (defendant address).
      operationId: getPcrHearingResults
      tags:
        - pcr
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
      responses:
        '200':
          description: PCR Hearing results found
          headers:
            X-Correlation-Id:
              description: Echoes the request correlation ID for end-to-end tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PcrHearingResult"
              examples:
                CaseMarkersAndResults:
                  summary: Domestic-violence marker with case/defendant-level results
                  description: An appeal hearing with a domestic violence case marker, a case-level costs result, and defendant-level collection order results.
                  value:
                    - courtApplications: []
                      custodyLocation:
                        custodyType: Prison
                        name: HMP Ashfield
                      defendant:
                        address:
                          address1: 12 King Street
                          address2: King Street
                          address3: Covent Garden
                          postCode: NW1 5BR
                        dateOfBirth: '1993-08-11'
                        firstName: Rita
                        gender: MALE
                        id: 86fc543b-4090-43f3-bd6d-8c1522844c99
                        lastName: Wyman
                        masterDefendantId: 86fc543b-4090-43f3-bd6d-8c1522844c99
                        nationality: British
                        postHearingCustodyStatus: A
                        results:
                          - resultDescription: COLLO - Collection order
                            resultTexts:
                              - label: Collection order type
                                value: Make payments as ordered
                          - resultDescription: PDATE - Pay by date
                            resultTexts:
                              - label: Date to pay in full by
                                value: 19/08/2026
                        title: Mr
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B01LY00
                            courtHouseName: Lavender Hill Magistrates' Court
                          courtAddress:
                            address1: 176A Lavender Hill
                            address2: London
                            address3: ''
                            address4: ''
                            address5: ''
                            postCode: SW11 1JU
                          ljaName: South West London Magistrates' Court
                        defendantAppearanceDetails: In person
                        hearingDate: '2026-08-12'
                        hearingType: Appeal
                        id: c95ea2d2-0845-40d9-adbe-71ac88af4962
                        jurisdiction: MAGISTRATES
                      sharedTime: '2026-08-12T08:44:03.431Z'
                      offences:
                        - code: TH68001
                          listingNumber: 2
                          offenceLegislation: Contrary to section 1(1) and 7 of the Theft Act 1968.
                          pleaDate: '2026-08-11'
                          pleaValue: NOT_GUILTY
                          results:
                            - resultDescription: "IMP - Imprisonment\nCommitted to prison for 7 Months. Total custodial period: 7 Months."
                              resultTexts:
                                - label: Total custodial period
                                  value: 7 Months
                                - label: Prison organisation name
                                  value: HMP/YOI High Down
                                - label: Prison email address 1
                                  value: OMU.Highdown@example-prison.gov.uk
                          startDate: '2026-06-12'
                          title: Theft from the person of another
                          verdict: Autrefois convict
                          wording: Theft from the person of another
                      prosecutionCase:
                        caseMarkers:
                          - description: Domestic Violence
                        caseURN: OG231065167
                        prosecutor: City of London Police
                        results:
                          - resultDescription: FCOST - Costs
                            resultTexts:
                              - label: Amount of costs
                                value: £567.00
                              - label: Major creditor organisation name
                                value: City of London Police
                              - label: Major creditor address line 1
                                value: Bishopsgate police station
                CourtApplicationAndNextHearing:
                  summary: Court application with a linked next hearing
                  description: A court application with no linked offence, plus a defendant's scheduled next hearing.
                  value:
                    - courtApplications:
                        - offences: []
                          reference: JS238681716
                          results:
                            - resultDescription: G - Granted
                              resultTexts: []
                          type: Application within criminal proceedings
                      custodyLocation:
                        custodyType: Prison
                        name: HMP Ashfield
                      defendant:
                        address:
                          address1: 63 North Street
                          address2: North Street
                          address3: Guildford
                          postCode: NW1 5BR
                        dateOfBirth: '1998-07-31'
                        firstName: Geraldo
                        gender: MALE
                        id: 77807b6c-4d05-45ca-9fb7-cd4c1d1d7842
                        lastName: Turner
                        masterDefendantId: 77807b6c-4d05-45ca-9fb7-cd4c1d1d7842
                        nationality: Unknown
                        postHearingCustodyStatus: Not Applicable
                        results: []
                        title: Mr
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B52CM00
                            courtHouseName: Bristol Magistrates' Court
                          courtAddress:
                            address1: Marlborough St
                            address2: Bristol
                            address3: ''
                            address4: ''
                            address5: ''
                            postCode: BS1 3NU
                          ljaName: Avon & Somerset Magistrates' Court
                        defendantAppearanceDetails: In person
                        hearingDate: '2026-07-31'
                        hearingType: Application
                        id: 9316e6f1-6824-443d-b6c2-8982f42549a3
                        jurisdiction: MAGISTRATES
                        nextHearing:
                          court:
                            courtHouseCode: B01LY00
                            courtHouseId: f8254db1-1683-483e-afb3-b87fde5a0a26
                            courtHouseName: Lavender Hill Magistrates' Court
                          dateTime: '2026-08-03T09:00:00Z'
                          hearingId: 6b8aafdc-aa57-4158-bbd8-6f1ea525ba01
                      sharedTime: '2026-07-31T08:33:21.608Z'
                      offences:
                        - code: TH68013A
                          listingNumber: 2
                          offenceLegislation: Contrary to section 1(1)    of the Criminal Attempts Act 1981.
                          results:
                            - resultDescription: RI - Remanded in custody
                              resultTexts:
                                - label: Next hearing in magistrates' court
                                  value: 'Date of hearing:03/08/2026

                                    Time of hearing:10:00

                                    Courthouse organisation name:Lavender Hill Magistrates'' Court

                                    Courthouse address line 1:176A Lavender Hill

                                    Courthouse address line 2:London

                                    Courthouse post code:SW11 1JU

                                    Courtroom:Courtroom 01

                                    Hearing type:Plea

                                    Estimated duration:20 MINUTES

                                    Booking reference:6b8aafdc-aa57-4158-bbd8-6f1ea525ba01'
                                - label: Prison organisation name
                                  value: HMP/YOI Eastwood Park
                                - label: Prison email address 1
                                  value: OMU.EastwoodPark@example-prison.gov.uk
                          startDate: '2026-05-02'
                          title: Attempt theft of motor vehicle
                          wording: Attempt theft to vehicle
                      prosecutionCase:
                        caseMarkers: []
                        caseURN: JS238681716
                        prosecutor: Derbyshire Police
                        results: []
                MultipleOffencesPerDefendant:
                  summary: One defendant with two offences at the same hearing
                  description: A single defendant convicted on two separate offences at the same hearing.
                  value:
                    - courtApplications: []
                      defendant:
                        address:
                          address1: 18 George Square
                          address2: George Square
                          address3: Glasgow
                          postCode: G2 1QU
                        dateOfBirth: '1969-07-30'
                        firstName: MechTommie
                        gender: MALE
                        id: 0f8306f4-b997-4d4c-81d6-999a646a7031
                        lastName: MachLarkin
                        masterDefendantId: 0f8306f4-b997-4d4c-81d6-999a646a7031
                        postHearingCustodyStatus: Not Applicable
                        results: []
                        title: Mr
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B52CM00
                            courtHouseName: Bristol Magistrates' Court
                          courtAddress:
                            address1: Marlborough St
                            address2: Bristol
                            address3: ''
                            address4: ''
                            address5: ''
                            postCode: BS1 3NU
                          ljaName: Avon & Somerset Magistrates' Court
                        defendantAppearanceDetails: In person
                        hearingDate: '2026-07-31'
                        hearingType: First hearing
                        id: f15a49db-812e-43d2-bfc5-7f3c7ee9ede1
                        jurisdiction: MAGISTRATES
                        nextHearing:
                          court:
                            courtHouseCode: B01LY00
                            courtHouseId: f8254db1-1683-483e-afb3-b87fde5a0a26
                            courtHouseName: Lavender Hill Magistrates' Court
                          dateTime: '2026-07-31T09:00:00Z'
                          hearingId: cf1f6d0c-6f9c-461f-b91a-5458a16c6342
                      sharedTime: '2026-07-30T13:45:43.563Z'
                      offences:
                        - code: TH68013A
                          convictionDate: '2026-07-31'
                          listingNumber: 1
                          offenceLegislation: Contrary to section 1(1)    of the Criminal Attempts Act 1981.
                          pleaDate: '2026-07-31'
                          pleaValue: GUILTY
                          results:
                            - resultDescription: RI - Remanded in custody
                              resultTexts:
                                - label: Next hearing in magistrates' court
                                  value: 'Date of hearing:31/07/2026

                                    Time of hearing:10:00

                                    Courthouse organisation name:Lavender Hill Magistrates'' Court

                                    Courthouse address line 1:176A Lavender Hill

                                    Courthouse address line 2:London

                                    Courthouse post code:SW11 1JU

                                    Courtroom:Courtroom 01

                                    Hearing type:Appeal

                                    Estimated duration:30 MINUTES

                                    Booking reference:277bb4af-0109-420b-a640-3249b0fbe0ff'
                                - label: Prison organisation name
                                  value: HMP Ashfield
                                - label: Prison email address 1
                                  value: yoiashfield.premiercustody@example-custody.gov.uk
                          startDate: '2026-05-01'
                          title: Attempt theft of motor vehicle
                          wording: Attempt theft to vehicle
                        - allocationDecision: Summary-only offence
                          code: CA03012
                          convictionDate: '2026-07-31'
                          listingNumber: 1
                          offenceLegislation: Contrary to section 363(3)(b) and (4) of the Communications Act 2003.
                          pleaDate: '2026-07-31'
                          pleaValue: GUILTY
                          results:
                            - resultDescription: RI - Remanded in custody
                              resultTexts:
                                - label: Next hearing in magistrates' court
                                  value: 'Date of hearing:31/07/2026

                                    Time of hearing:10:00

                                    Courthouse organisation name:Lavender Hill Magistrates'' Court

                                    Courthouse address line 1:176A Lavender Hill

                                    Courthouse address line 2:London

                                    Courthouse post code:SW11 1JU

                                    Courtroom:Courtroom 01

                                    Hearing type:Appeal

                                    Estimated duration:30 MINUTES

                                    Booking reference:6e0ae098-72a9-4866-97e6-992d3126a4ad'
                                - label: Prison organisation name
                                  value: HMP Ashfield
                                - label: Prison email address 1
                                  value: yoiashfield.premiercustody@example-custody.gov.uk
                          startDate: '2026-05-01'
                          title: Possess / control TV set with intent another use install without a licence
                          wording: Theft of pedal cycle
                      prosecutionCase:
                        caseMarkers: []
                        caseURN: AS231157673
                        prosecutor: City of London Police
                        results: []
                DomesticViolenceMarkerWithRemand:
                  summary: Domestic-violence marker with a remand result and video-link appearance
                  description: A domestic violence case marker with a remand result, recorded from a video-link appearance.
                  value:
                    - courtApplications: []
                      defendant:
                        address:
                          address1: 99 Riverside Drive
                          address2: Riverside Drive
                          address3: Chester-le-Street
                          postCode: NW1 5BR
                        dateOfBirth: '1975-08-11'
                        firstName: Cristal
                        gender: MALE
                        id: beea4cae-7107-46d0-b994-979d02063411
                        lastName: Kutch
                        masterDefendantId: beea4cae-7107-46d0-b994-979d02063411
                        nationality: British
                        postHearingCustodyStatus: Not Applicable
                        results: []
                        title: Mr
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B01DU00
                            courtHouseName: City of London Magistrates' Court
                          courtAddress:
                            address1: 1 Queen Victoria Street
                            address2: London
                            address3: ''
                            address4: ''
                            address5: ''
                            postCode: EC4N 4XY
                          ljaName: Central London Magistrates' Court
                        defendantAppearanceDetails: By video link
                        hearingDate: '2026-08-11'
                        hearingType: First hearing
                        id: 24b88ffb-4290-4560-9518-d6084c125c54
                        jurisdiction: MAGISTRATES
                        nextHearing:
                          court:
                            courtHouseCode: B01DU00
                            courtHouseId: c133d0de-c989-48b9-bd20-0431943e347e
                            courtHouseName: City of London Magistrates' Court
                          dateTime: '2026-08-11T09:00:00Z'
                          hearingId: 69304c69-7264-46b2-ac4c-0c94b26788dc
                      sharedTime: '2026-08-11T13:57:14.435Z'
                      offences:
                        - code: TH68013A
                          convictionDate: '2026-08-11'
                          indicatedPleaValue: NO_INDICATION
                          listingNumber: 1
                          offenceLegislation: Contrary to section 1(1)    of the Criminal Attempts Act 1981.
                          pleaDate: '2026-08-11'
                          pleaValue: NOT_GUILTY
                          results:
                            - resultDescription: RMR - Remanded for medical report
                              resultTexts:
                                - label: Remanded for medical reports under Section
                                  value: Act 1983
                                - label: Type of medical report required
                                  value: Approved Clinician
                                - label: Reason for report
                                  value: Use in Legal Proceedings
                          startDate: '2026-06-12'
                          title: Attempt theft of motor vehicle
                          verdict: Found guilty
                          wording: Attempt theft to vehicle
                      prosecutionCase:
                        caseMarkers:
                          - description: Domestic Violence
                        caseURN: TM370142723
                        prosecutor: City of London Police
                        results:
                          - resultDescription: Defendant's details changed
                            resultTexts: []
                CourtApplicationWithLinkedOffence:
                  summary: Community order breach application with its own linked offence and result
                  description: A community order breach application with its own linked offence and result.
                  value:
                    - courtApplications:
                        - offences:
                            - allocationDecision: Indictable-only offence
                              code: CJ03522
                              convictionDate: '2026-08-11'
                              listingNumber: 1
                              offenceLegislation: Contrary to section 8(1) of the Theft Act 1968.
                              pleaDate: '2026-08-11'
                              pleaValue: GUILTY
                              results:
                                - resultDescription: "IMP - Imprisonment\nCommitted to prison for 15 Days. Reason: the offence(s) are so serious that only a custodial sentence can be justified because of an unprovoked attack of a serious nature. Bail remand days to count (Tagged Days): 0."
                                  resultTexts:
                                    - label: Imprisonment Period
                                      value: 15 Days
                                    - label: Imprisonment reasons
                                      value: the offence(s) are so serious that only a custodial sentence can be justified
                                    - label: Reason for custody
                                      value: because of an unprovoked attack of a serious nature
                                    - label: Bail remand days to count (tagged days)
                                      value: '0'
                                    - label: This offence is aggravated by the foreign power condition being met in relation to it as defined by section 31 of the National Security Act 2023
                                      value: 'false'
                              startDate: '2026-06-12'
                              title: Robbery
                              wording: 'Original CaseURN: YX123927526, Re-sentenced Original code : TH68023, Original details: Robbery'
                          reference: OD123921416
                          results:
                            - resultDescription: OREV - Order revoked
                              resultTexts:
                                - label: Date original order made
                                  value: 10/08/2026
                                - label: Order revoked
                                  value: community order
                                - label: Court that made the original order
                                  value: Bexley Magistrates' Court
                          type: Conviction of an offence while a community order is in force
                      defendant:
                        address:
                          address1: 90 Mill Lane
                          address2: Mill Lane
                          address3: Cardiff
                          postCode: NW1 5BR
                        dateOfBirth: '1971-08-11'
                        firstName: Marya
                        gender: MALE
                        id: 81570703-2942-4ae0-af35-14559883a888
                        lastName: Klocko
                        masterDefendantId: f4b5e73e-e7f7-421a-9b9f-88003d5355c3
                        postHearingCustodyStatus: Not Applicable
                        results: []
                        title: Mr
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B01BH00
                            courtHouseName: Bexley Magistrates' Court
                          courtAddress:
                            address1: Norwich Place
                            address2: Bexleyheath
                            address3: Kent
                            address4: ''
                            address5: ''
                            postCode: DA6 7ND
                          ljaName: South East London Magistrates' Court
                        defendantAppearanceDetails: In person
                        hearingDate: '2026-08-11'
                        hearingType: First hearing
                        id: cd274eae-19f3-4a4a-b615-ad85dace6331
                        jurisdiction: MAGISTRATES
                      sharedTime: '2026-08-11T10:57:08.180Z'
                      offences:
                        - allocationDecision: Indictable-only offence
                          code: TH68023
                          convictionDate: '2026-08-11'
                          listingNumber: 1
                          offenceLegislation: Contrary to section 8(1) of the Theft Act 1968.
                          pleaDate: '2026-08-11'
                          pleaValue: GUILTY
                          results:
                            - resultDescription: "IMP - Imprisonment\nCommitted to prison for 15 Days. Reason: the offence(s) are so serious that only a custodial sentence can be justified because of an unprovoked attack of a serious nature. Total custodial period is life."
                              resultTexts:
                                - label: Total custodial period is life
                                  value: 'true'
                                - label: Prison organisation name
                                  value: HMP/YOI Low Newton
                                - label: Prison email address 1
                                  value: OMU.LowNewton@example-prison.gov.uk
                          startDate: '2026-06-12'
                          title: Robbery
                          wording: Robbery
                      prosecutionCase:
                        caseMarkers: []
                        caseURN: OD123921416
                        prosecutor: City of London Police
                        results: []
                CourtApplicationDefendantType:
                  summary: Application to reopen a case, brought by the defendant as Applicant
                  description: >-
                    defendantType is populated directly from the application
                    itself, independent of the defendant's role on any linked
                    prosecution case.
                  value:
                    - courtApplications:
                        - defendantType: Applicant
                          offences: []
                          reference: RA780611523
                          results:
                            - resultDescription: G - Granted
                              resultTexts:
                                - label: Application outcome
                                  value: Case reopened
                          type: Application to reopen case
                      custodyLocation:
                        custodyType: Prison
                        name: HMP Bure
                      defendant:
                        address:
                          address1: 8 Orchard Close
                          address2: Orchard Close
                          address3: Norwich
                          postCode: NW1 5BR
                        dateOfBirth: '1988-04-22'
                        firstName: Farrah
                        gender: FEMALE
                        id: 5e91c2a4-3d67-48b0-9c15-7a2f6b8d4c93
                        lastName: Considine
                        masterDefendantId: 5e91c2a4-3d67-48b0-9c15-7a2f6b8d4c93
                        nationality: British
                        postHearingCustodyStatus: A
                        results: []
                        title: Ms
                      hearing:
                        courtDetails:
                          court:
                            courtHouseCode: B01LY00
                            courtHouseName: Lavender Hill Magistrates' Court
                          courtAddress:
                            address1: 176A Lavender Hill
                            address2: London
                            address3: ''
                            address4: ''
                            address5: ''
                            postCode: SW11 1JU
                          ljaName: South West London Magistrates' Court
                        defendantAppearanceDetails: In person
                        hearingDate: '2026-08-20'
                        hearingType: Application
                        id: 3af5c9d2-7b41-4e28-9c60-1f8a4b2e7d15
                        jurisdiction: MAGISTRATES
                      sharedTime: '2026-08-20T09:12:47.221Z'
                      offences: []
                      prosecutionCase:
                        caseMarkers: []
                        caseURN: RA780611523
                        prosecutor: Nottinghamshire Police
                        results: []
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

  /internal/hearing-results:
    post:
      summary: Receive Hearing_Resulted events
      description: >-
        Internal ingestion endpoint. An upstream relay owns the Event Grid
        subscription and its subscription-validation handshake, and forwards
        each Hearing_Resulted pointer event here verbatim (EventGridSchema,
        delivered as a JSON array) via a plain internal HTTP call — this
        operation itself never sees Event Grid's own handshake.
      operationId: receiveHearingResultedEvent
      tags:
        - Internal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/HearingResultedEvent"
      responses:
        '200':
          description: Hearing_Resulted event accepted and processed. No response body.
        '400':
          description: Malformed payload or unrecognized eventType — Event Grid will not retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unrecognized eventType: Hearing_Amended"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "b2f1c3d4e5f60718"
        '503':
          description: >-
            Hearing details not yet complete after in-process retries —
            Event Grid should redeliver per its own retry policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Hearing details for hearingId f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c still incomplete after 3 retries"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "e5c4d6f708192a3b"
        '500':
          description: An unexpected error occurred while processing the event.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "An unexpected error occurred while processing the request"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "f6d5e708192a3b4c"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: >-
        HMCTS APIM subscription key identifying the consuming system. Issued
        per consumer when their APIM product subscription is provisioned.

  parameters:
    CaseUrnPath:
      in: path
      name: caseURN
      required: true
      description: Unique Case URN identifying the prosecution case
      schema:
        type: string
      example: "example-case-urn"
    HearingIdPath:
      in: path
      name: hearingId
      required: true
      description: Unique identifier of the hearing
      schema:
        type: string
        format: uuid
      example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
    DefendantIdPath:
      in: path
      name: defendantId
      required: true
      description: Unique identifier of the defendant
      schema:
        type: string
        format: uuid
      example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
  responses:
    BadRequest:
      description: Bad input parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "BAD_REQUEST"
            message: "The supplied hearingId is not a valid UUID"
            details:
              parameter: "hearingId"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "b2f1c3d4e5f60718"
    NotFound:
      description: The case, hearing, or defendant does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "NOT_FOUND"
            message: "No case, hearing, or defendant found for the supplied identifiers"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "e5c4d6f708192a3b"
    InternalServerError:
      description: An unexpected error occurred
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "INTERNAL_SERVER_ERROR"
            message: "An unexpected error occurred while processing the request"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "f6d5e708192a3b4c"

  schemas:
    HearingResultedEvent:
      type: object
      required: [id, eventType, data]
      description: >-
        The Hearing_Resulted event (EventGridSchema shape), relayed verbatim
        by an upstream relay. Event Grid's own subscription-validation
        handshake never reaches this operation — the relay answers it
        upstream.
      properties:
        id:
          type: string
          example: "b2f1c3d4-e5f6-4708-91a2-b3c4d5e6f708"
        eventType:
          type: string
          example: Hearing_Resulted
        subject:
          type: string
          example: "hearing/9c7e33d3-e6c0-4138-b7fb-b176554ae98c"
        eventTime:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        dataVersion:
          type: string
          example: "1.0"
        metadataVersion:
          type: string
          example: "1"
        topic:
          type: string
          example: "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hmcts-cp/providers/Microsoft.EventGrid/topics/hearing-results"
        data:
          type: object
          properties:
            hearingId:
              type: string
              format: uuid
              example: "9c7e33d3-e6c0-4138-b7fb-b176554ae98c"
            hearingDay:
              type: string
              format: date
              example: "2026-07-15"
            userId:
              type: string
              format: uuid
              example: "00000000-0000-0000-0000-000000000099"

    PcrHearingResult:
      description: A single recorded PCR result for a hearing and defendant.
      type: object
      properties:
        prosecutionCase:
          $ref: "#/components/schemas/ProsecutionCase"
        defendant:
          $ref: "#/components/schemas/Defendant"
        custodyLocation:
          $ref: "#/components/schemas/CustodyLocation"
        hearing:
          $ref: "#/components/schemas/HearingDetails"
        sharedTime:
          description: The timestamp CP recorded when this hearing's results were shared.
          type: string
          format: date-time
          nullable: true
          example: "2026-07-15T11:33:22.794Z"
        offences:
          description: Results for each offence charged against the defendant at this hearing
          type: array
          items:
            $ref: "#/components/schemas/Offence"
        courtApplications:
          description: >-
            Court applications (bail applications, variations, etc.) and any
            results recorded against them.
          type: array
          items:
            $ref: "#/components/schemas/CourtApplication"

    ProsecutionCase:
      description: >-
        The prosecution case this hearing belongs to, and case-level facts
        recorded against it.
      type: object
      properties:
        caseURN:
          description: >-
            Prosecution case URN — CP's own field name (`ProsecutionCaseIdentifier.caseURN`
            in `cpp-context-hearing`), not an invented API-only name.
          type: string
          example: "example-case-urn"
        prosecutor:
          description: >-
            Name of the prosecuting authority for this case — CP's own
            `ProsecutionCaseIdentifier.prosecutionAuthorityName`. Present regardless of
            whether the defendant was reached via a prosecution case or a standalone
            court application.
          type: string
          nullable: true
          example: "City of London Police"
        caseMarkers:
          description: >-
            Case-level markers recorded against the prosecution case (e.g.
            domestic-violence, vulnerability) — a case-level fact in CP, not
            derived per offence or per defendant.
          type: array
          items:
            $ref: "#/components/schemas/CaseMarker"
        results:
          description: >-
            Judicial results recorded directly against the case, not tied to
            any specific offence — CP's
            `defendant.defendantCaseJudicialResults[]`, distinct from
            `offences[].results`.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"

    CustodyLocation:
      description: >-
        The defendant's custody location at the time of the hearing. Maps to
        CP's `custodialEstablishment`.
      type: object
      nullable: true
      properties:
        name:
          description: Prison/establishment display name.
          type: string
          nullable: true
          example: "HMP Dovegate"
        custodyType:
          description: >-
            Custody-type classification (e.g. `Prison`) vs. other custody
            types such as police custody. Full value set unconfirmed.
          type: string
          nullable: true
          example: "Prison"

    HearingDetails:
      description: Facts recorded about the hearing itself, for a single PCR result.
      type: object
      properties:
        id:
          description: Unique identifier of the hearing the result was recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        courtDetails:
          $ref: "#/components/schemas/CourtDetails"
        hearingDate:
          description: Date of the hearing.
          type: string
          format: date
          example: "2026-06-23"
        hearingOutcome:
          description: >-
            Recorded outcome of the hearing, where set. Open item: whether
            this should be constrained to an enumerated set of values is
            still being confirmed with the business — currently free text.
          type: string
          nullable: true
          example: "Adjourned"
        hearingType:
          description: >-
            Classification of the hearing itself, e.g. "First hearing". CP
            sends this as an object (id + description); only the
            human-readable description is surfaced here, matching the
            convention for CourtApplication.type.
          type: string
          nullable: true
          example: "First hearing"
        jurisdiction:
          description: The hearing's jurisdiction type, e.g. "MAGISTRATES".
          type: string
          nullable: true
          example: "MAGISTRATES"
        defendantAppearanceDetails:
          description: >-
            How this defendant attended this hearing, resolved from the
            hearing's own attendance record for this defendant on the
            sitting day.
          type: string
          nullable: true
          example: "In person"
        nextHearing:
          $ref: "#/components/schemas/NextHearing"

    NextHearing:
      description: >-
        The next scheduled hearing following this one, where known. CP's own
        field name (`nextHearing`), not an invented API-only name. Open item:
        when offences on the same case adjourn to different future dates,
        which one this object reflects is not yet confirmed on CP's side.
        `dateTime` merges date and time into a single field for beta — kept
        single pending confirmation with the business; may split back into
        separate date/time fields later.
      type: object
      nullable: true
      properties:
        hearingId:
          description: Identifier of the next hearing, where known.
          type: string
          format: uuid
          nullable: true
          example: "14085700-414d-4345-9dff-688a128f4177"
        dateTime:
          description: Scheduled date and time of the next appearance, where known.
          type: string
          format: date-time
          nullable: true
          example: "2026-07-21T09:00:00Z"
        court:
          $ref: "#/components/schemas/Court"

    CourtDetails:
      description: >-
        Court venue detail for the hearing itself — identity, postal address
        and Local Justice Area name. Kept separate from the shared `Court`
        schema (used here and on `NextHearing`) because address and LJA name
        are only ever sourced for the hearing's own venue, never for a next
        hearing, so `NextHearing` cannot offer them.
      type: object
      nullable: true
      properties:
        court:
          $ref: "#/components/schemas/Court"
        courtAddress:
          $ref: "#/components/schemas/Address"
        ljaName:
          description: >-
            Local Justice Area name for the hearing's court centre — CP's
            courtCentre.lja.ljaName.
          type: string
          nullable: true
          example: "South East London Magistrates' Court"

    Court:
      description: >-
        Court house identity — shared shape for both the hearing and the
        next hearing, since they identify a court house the same way.
      type: object
      nullable: true
      properties:
        courtHouseId:
          description: CP Reference Data's court house UUID.
          type: string
          format: uuid
          nullable: true
          example: "7e967376-eacf-4fca-9b30-21b0c5aad427"
        courtHouseCode:
          description: >-
            CP Reference Data's court house code. CP's own faithful
            identifier for the court house — resolving it to any other
            consumer's reference data is the consumer's concern, not this
            contract's.
          type: string
          nullable: true
          example: "LND001"
        courtHouseName:
          description: Name of the court house, for display without a Reference Data lookup.
          type: string
          nullable: true
          example: "Central London Crown Court"

    CaseMarker:
      description: A marker recorded against the whole prosecution case
      type: object
      properties:
        description:
          description: >-
            Human-readable description of the marker — CP's
            `caseMarkers[].markerTypeDescription`.
          type: string
          nullable: true
          example: "Domestic Violence"

    Defendant:
      description: >-
        Defendant identity as recorded on the prosecution case at this
        hearing. All fields here are personal data (OFFICIAL-SENSITIVE) —
        handle per HMCTS data protection policy; do not log.
      type: object
      properties:
        id:
          description: CP's unique identifier for the defendant
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        masterDefendantId:
          description: >-
            Master defendant identifier used to resolve the defendant's
            identity across cases and appearances, where resolved.
          type: string
          format: uuid
          nullable: true
          example: "a1f2e3d4-c5b6-4789-9abc-1d2e3f4a5b6c"
        title:
          description: Title, where recorded (e.g. "Mr", "Ms").
          type: string
          nullable: true
          example: "Mr"
        firstName:
          description: First name.
          type: string
          nullable: true
          example: "John"
        middleName:
          description: Middle name, where recorded.
          type: string
          nullable: true
          example: "Quinn"
        lastName:
          description: Last name.
          type: string
          nullable: true
          example: "Doe"
        dateOfBirth:
          description: Date of birth.
          type: string
          format: date
          nullable: true
          example: "1980-01-31"
        address:
          $ref: "#/components/schemas/Address"
        gender:
          description: Gender, where recorded.
          type: string
          nullable: true
          example: "MALE"
        nationality:
          description: Nationality, where recorded.
          type: string
          nullable: true
          example: "British"
        postHearingCustodyStatus:
          description: >-
            The defendant's overall post-hearing custody status for this
            hearing, resolved once per defendant across their case-level
            judicial results — not to be confused with a specific result's
            own status. Matches the legacy PCR pipeline's own resolution:
            the first case-level result whose status isn't already
            "Not Applicable", defaulting to "Not Applicable" otherwise.
          type: string
          example: "Not Applicable"
        results:
          description: >-
            Judicial results recorded directly against the defendant, not
            tied to any specific case, offence, or application — CP's
            `hearing.defendantJudicialResults[].judicialResult`, matched by
            this defendant's own id.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"

    Address:
      description: A postal address.
      type: object
      properties:
        address1:
          type: string
          nullable: true
          example: "1 Example Street"
        address2:
          type: string
          nullable: true
          example: "Example District"
        address3:
          type: string
          nullable: true
          example: "London"
        address4:
          type: string
          nullable: true
          example: "Greater London"
        address5:
          type: string
          nullable: true
          example: ""
        postCode:
          type: string
          nullable: true
          example: "SW1A 1AA"

    Offence:
      description: A single offence and the result(s) recorded against it
      type: object
      properties:
        id:
          description: CP's unique identifier for this offence.
          type: string
          format: uuid
          nullable: true
          example: "9c7e33d3-e6c0-4138-b7fb-b176554ae98c"
        code:
          description: Offence code, aligned with OMS.
          type: string
          example: "example-offence-code"
        title:
          description: Offence title.
          type: string
          nullable: true
          example: "Theft from a shop"
        wording:
          description: Full wording of the offence as charged.
          type: string
          nullable: true
          example: "Stole a bicycle belonging to another, contrary to section 1(1) of the Theft Act 1968."
        startDate:
          description: Offence start date.
          type: string
          format: date
          example: "2026-06-13"
        endDate:
          description: >-
            Offence end date, where recorded — populated for terminated
            offences only.
          type: string
          format: date
          nullable: true
          example: "2026-06-20"
        listingNumber:
          description: The listing/count number the offence was recorded against, where set.
          type: integer
          nullable: true
          example: 1
        convictionDate:
          description: Conviction date recorded against the offence, where applicable.
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        pleaValue:
          description: Plea recorded against the offence, where taken.
          type: string
          nullable: true
          example: "GUILTY"
        pleaDate:
          description: Date the plea was recorded, where taken. Kept as its own field rather than folded into pleaValue's text.
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        verdict:
          description: >-
            Verdict recorded against the offence, where applicable — CP's
            verdict.verdictType.description (e.g. "Found guilty").
          type: string
          nullable: true
          example: "Found guilty"
        offenceLegislation:
          description: The legislation the offence was charged under, where recorded.
          type: string
          nullable: true
          example: "Contrary to section 8(1) of the Theft Act 1968."
        allocationDecision:
          description: >-
            Mode-of-trial allocation decision reason, where recorded — CP's
            allocationDecision.motReasonDescription.
          type: string
          nullable: true
          example: "Indictable-only offence"
        indicatedPleaValue:
          description: >-
            Indicated plea recorded against the offence, where taken — CP's
            indicatedPlea.indicatedPleaValue. Distinct from pleaValue, which
            is the plea actually entered.
          type: string
          nullable: true
          example: "INDICATED_NOT_GUILTY"
        results:
          description: >-
            Judicial result(s) recorded against this offence. An offence can
            carry more than one result (e.g. a conviction result plus a
            separate costs/compensation or ancillary result) — this is CP's
            real shape and is not collapsed to a single result.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"

    ResultText:
      description: >-
        A single judicial result, with its resultDescription classification
        and any sentence detail it carries. Reused for both offence results
        and court application results — they are the same kind of CP fact,
        wherever they are recorded.
      type: object
      properties:
        resultDescription:
          description: >-
            Short, code-prefixed description of this specific judicial
            result (e.g. `"RI - Remanded in custody"`), derived from CP's own
            result text, stripped of any narrative detail already carried in
            `resultTexts`.
          type: string
          nullable: true
          example: "RI - Remanded in custody"
        resultTexts:
          description: >-
            Raw judicial result prompts recorded against this result, exposed
            as-is so consumers can build their own downstream logic on top of
            structured signals (e.g. terrorism/foreign-power flags) rather
            than depend only on CP's own derived convenience fields.
          type: array
          items:
            $ref: "#/components/schemas/Text"

    Text:
      description: A single prompt recorded against a judicial result
      type: object
      properties:
        label:
          type: string
          nullable: true
          example: "Total custodial period"
        value:
          type: string
          nullable: true
          example: "5 Months"

    CourtApplication:
      description: A court application (bail application, variation, etc.) and any results recorded against it
      type: object
      properties:
        reference:
          description: Court application reference
          type: string
          example: "example-application-reference"
        type:
          description: Application type.
          type: string
          nullable: true
          example: "Application within criminal proceedings"
        defendantType:
          description: >-
            The defendant's role on this application — "Applicant", "Appellant",
            "Respondent", or "Defendant" (not named on the application at all).
            Reflects who applied and why, not the application's own type/decision.
          type: string
          nullable: true
          example: "Respondent"
        decision:
          description: Decision made on the application, where applicable.
          type: string
          nullable: true
          example: "Granted"
        decisionDate:
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        response:
          description: Response to the application, where applicable.
          type: string
          nullable: true
          example: "Consented"
        responseDate:
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        results:
          description: >-
            Judicial results recorded directly against the application itself
            (CP source: `CourtApplication.judicialResults`) — distinct from
            results recorded against a specific offence the application
            relates to, which appear under `offences[].results`
            instead.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"
        offences:
          description: >-
            Offence(s) this application relates to, where linked — CP source:
            `CourtApplication.courtApplicationCases[].offences[]` (the same
            offences as the linked case) and `courtOrder.courtOrderOffences[]`,
            folded together here since consumers don't need to distinguish how
            an offence came to be linked to the application. Empty for a
            standalone application with no case/offence link.
          type: array
          items:
            $ref: "#/components/schemas/Offence"

    ErrorResponse:
      description: Standard error response
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "No PCR version found for the supplied identifiers"
        details:
          description: Additional error context, where applicable
          type: object
          nullable: true
          properties:
            parameter:
              description: Name of the invalid request parameter, for BAD_REQUEST errors
              type: string
              nullable: true
              example: "hearingId"
            id:
              description: The source correlation id supplied in the request, for NOT_FOUND errors
              type: string
              nullable: true
              example: "01h9f2c3-b4a5-4e6f-8a9b-0c1d2e3f4a5b"
        timestamp:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        traceId:
          type: string
          description: Unique identifier for error tracing
          example: "b2f1c3d4e5f60718"
