openapi: 3.0.0
servers:
  - description: CP Crime Prosecution Case Results (PCR) API
    url: https://api-cp-crime-results-pcr.net/{version}
    variables:
      version:
        default: 0.1.0
        description: API version; matches the spec info.version

info:
  title: CP Crime Prosecution Case Results (PCR) API
  description: >-
    Exposes prosecution case results (PCR) for criminal cases on the Common
    Platform (CP).

    Given a case URN and a hearing, the API returns the results recorded for
    that prosecution case at the hearing — the result for each offence and each
    court application, including any sentence handed down. A defendant-scoped
    endpoint narrows the same view to a single defendant.

    Every request identifies the specific results event to read via the
    required `eventId` query parameter, so a caller reads a stable snapshot of
    the results as they stood at that event rather than a mutable "latest".
  version: 0.1.0
  contact:
    email: no-reply@hmcts.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'

security:
  - oAuthJwt: []

tags:
  - name: prosecution-case-results
    description: Prosecution case results — offence and court application results for a case at a hearing

paths:
  /pcr/cases/{caseURN}/hearings/{hearingId}:
    get:
      summary: Get the prosecution case results for a case at a hearing
      description: >-
        Returns the results recorded for a prosecution case at a specific
        hearing, as they stood at the supplied results event. The response
        includes the prosecution case reference and, for each defendant on the
        case, a result for each offence and each court application (including
        any sentence). If the hearing recorded no results for the case, empty
        lists are returned. If the case, hearing, or event does not exist, a
        not found response is returned.
      operationId: getProsecutionCaseResults
      tags:
        - prosecution-case-results
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/EventIdQuery"
      responses:
        '200':
          description: Prosecution case results found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProsecutionCaseResultView"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

  /pcr/cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}:
    get:
      summary: Get the prosecution case results for a single defendant at a hearing
      description: >-
        Returns the results recorded for a single defendant on a prosecution
        case at a specific hearing, as they stood at the supplied results
        event. The response includes the prosecution case reference and the
        defendant's offence and court application results (including any
        sentence). If the defendant has no recorded results at the hearing,
        empty lists are returned. If the case, hearing, defendant, or event
        does not exist, a not found response is returned.
      operationId: getDefendantProsecutionCaseResults
      tags:
        - prosecution-case-results
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
        - $ref: "#/components/parameters/EventIdQuery"
      responses:
        '200':
          description: Defendant prosecution case results found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefendantResultView"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    oAuthJwt:
      type: oauth2
      description: >-
        OAuth 2.0 protection. Callers must present a valid JWT bearer access
        token obtained via the client credentials flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-cp-crime-results-pcr.net/oauth2/token
          scopes:
            prosecution-case-results.read: Read access to prosecution case results data

  parameters:
    CaseUrnPath:
      in: path
      name: caseURN
      required: true
      description: Unique Case URN identifying the prosecution case
      schema:
        type: string
      example: "20GD1234567"
    HearingIdPath:
      in: path
      name: hearingId
      required: true
      description: Unique identifier of the hearing
      schema:
        type: string
        format: uuid
      example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
    DefendantIdPath:
      in: path
      name: defendantId
      required: true
      description: Unique identifier of the defendant
      schema:
        type: string
        format: uuid
      example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
    EventIdQuery:
      in: query
      name: eventId
      required: true
      description: >-
        Unique identifier of the results event to read. Identifies the stable
        snapshot of results to return rather than a mutable "latest" view.
      schema:
        type: string
        format: uuid
      example: "3b4c5d6e-7f80-4192-a3b4-c5d6e7f80912"

  responses:
    BadRequest:
      description: Bad input parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "BAD_REQUEST"
            message: "The supplied hearingId is not a valid UUID"
            details:
              parameter: "hearingId"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "b2f1c3d4e5f60718"
    Unauthorized:
      description: Authentication is missing or the access token is invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "UNAUTHORIZED"
            message: "Access token is missing or invalid"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "c3a2b4d5e6f70819"
    Forbidden:
      description: The access token does not grant the required scope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "FORBIDDEN"
            message: "The access token does not grant the required scope prosecution-case-results.read"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "d4b3c5e6f708192a"
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "NOT_FOUND"
            message: "No results found for the supplied case URN, hearing and event"
            details:
              caseURN: "20GD1234567"
              hearingId: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
              eventId: "3b4c5d6e-7f80-4192-a3b4-c5d6e7f80912"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "e5c4d6f708192a3b"
    InternalServerError:
      description: An unexpected error occurred
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "INTERNAL_SERVER_ERROR"
            message: "An unexpected error occurred while processing the request"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "f6d5e708192a3b4c"

  schemas:
    ProsecutionCaseResultView:
      description: Results recorded for a prosecution case at a hearing
      type: object
      properties:
        pcr:
          $ref: "#/components/schemas/Pcr"
        hearingId:
          description: Unique identifier of the hearing the results were recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        eventId:
          description: Unique identifier of the results event this snapshot was read at
          type: string
          format: uuid
          example: "3b4c5d6e-7f80-4192-a3b4-c5d6e7f80912"
        defendants:
          description: Results for each defendant on the prosecution case
          type: array
          items:
            $ref: "#/components/schemas/DefendantResultView"

    DefendantResultView:
      description: Results recorded for a single defendant at a hearing
      type: object
      properties:
        defendantId:
          description: Unique identifier of the defendant
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        pcr:
          $ref: "#/components/schemas/Pcr"
        offences:
          description: Result for each offence charged against the defendant at the hearing
          type: array
          items:
            $ref: "#/components/schemas/OffenceResult"
        courtApplicationResults:
          description: Result for each court application involving the defendant at the hearing
          type: array
          items:
            $ref: "#/components/schemas/CourtApplicationResult"

    OffenceResult:
      description: The result recorded against an offence
      type: object
      properties:
        id:
          description: Unique identifier of the offence
          type: string
          format: uuid
          example: "c4a1b2d3-e5f6-4789-9abc-0d1e2f3a4b5c"
        code:
          description: Offence code
          type: string
          example: "TH68001"
        result:
          $ref: "#/components/schemas/Result"

    CourtApplicationResult:
      description: The result recorded against a court application
      type: object
      properties:
        id:
          description: Unique identifier of the court application
          type: string
          format: uuid
          example: "a9b8c7d6-e5f4-4321-9876-0a1b2c3d4e5f"
        reference:
          description: Court application reference
          type: string
          example: "APP-2026-001"
        result:
          $ref: "#/components/schemas/Result"

    Pcr:
      description: Prosecution case reference
      type: object
      properties:
        id:
          description: Unique identifier of the prosecution case
          type: string
          format: uuid
          example: "9c8b7a6d-5e4f-4321-8765-0a1b2c3d4e5f"
        reference:
          description: Prosecution case reference (case URN)
          type: string
          example: "20GD1234567"

    Result:
      description: A judicial result
      type: object
      properties:
        id:
          description: Unique identifier of the result
          type: string
          example: "c4a1b2d3-e5f6-4789-9abc-0d1e2f3a4b5c_result"
        type:
          description: Result type
          type: string
          example: "Convicted"
        date:
          description: Date the result was ordered
          type: string
          format: date
          example: "2026-05-14"
        sentence:
          $ref: "#/components/schemas/Sentence"

    Sentence:
      description: A sentence handed down as part of a result
      type: object
      properties:
        id:
          description: Unique identifier of the sentence
          type: string
          example: "c4a1b2d3-e5f6-4789-9abc-0d1e2f3a4b5c_sentence"
        type:
          description: Sentence type
          type: string
          example: "Custodial"
        custodyStatus:
          description: Custody status code
          type: string
          example: "C"
        financialAmount:
          description: Financial amount imposed, where applicable
          type: number
          format: double
          example: 250.00
        periodLengths:
          description: Duration components of a custodial sentence
          type: array
          items:
            $ref: "#/components/schemas/PeriodLength"

    PeriodLength:
      description: A sentence duration broken down into components
      type: object
      properties:
        years:
          type: integer
          example: 1
        months:
          type: integer
          example: 6
        weeks:
          type: integer
          example: 2
        days:
          type: integer
          example: 10

    ErrorResponse:
      description: Standard error response
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "No results found for the supplied case URN, hearing and event"
        details:
          type: object
          additionalProperties: true
          description: Additional error context
        timestamp:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        traceId:
          type: string
          description: Unique identifier for error tracing
          example: "b2f1c3d4e5f60718"
