openapi: 3.0.0
servers:
  - description: Crime Case Prison Court Register API
    url: https://api-cp-crime-results-pcr.net/{version}
    variables:
      version:
        default: 0.1.0
        description: API version; matches the spec info.version

info:
  title: Crime Case Prison Court Register API
  description: >-
    Returns the prosecution case results recorded at a hearing, per defendant —
    the result for each offence and each court application, including any
    sentence handed down, enriched with Reference Data classifications.


    This API processes personal data under Article 6(1)(e) UK GDPR (public
    task) and the administration of justice provisions of Schedule 1 Part 2
    DPA 2018. Special category data, where present, is processed under
    Article 9(2)(f) UK GDPR (legal claims) or Article 9(2)(g) (substantial
    public interest).
  version: 0.1.0
  contact:
    email: no-reply@hmcts.com
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'

security:
  - bearerAuth: []
    subscriptionKey: []

tags:
  - name: pcr
    description: Prison Court Register(s) results per case, hearing and defendant
  - name: Internal
    description: Internal, platform-only operations — not exposed via the public APIM gateway

paths:
  /cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}:
    get:
      summary: Get the PCR hearing results history for a hearing and defendant
      description: >-
        Returns PCR hearing results recorded for the given case, hearing and
        defendant. If no result has been recorded yet for the hearing and
        defendant, an empty list is returned. If the case, hearing, or
        defendant does not exist, a not found response is returned.


        This operation returns OFFICIAL-SENSITIVE data (defendant address).
      operationId: getPcrHearingResults
      tags:
        - pcr
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
      responses:
        '200':
          description: PCR Hearing results found
          headers:
            X-Correlation-Id:
              description: Echoes the request correlation ID for end-to-end tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PcrHearingResult"
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

  /cases/{caseURN}/hearings/{hearingId}/defendants/{defendantId}/versions:
    get:
      summary: Get list of PCR hearing results versions
      description: >-
        Returns version metadata (`id`, `hearingId`, `defendantId`,
        `recordedAt`) for every version recorded for the given case, hearing
        and defendant — not the full PCR data. The optional `versionId`
        query parameter filters this down to a single matching entry;
        the response is always a list, empty if none match.


        `id` is the source correlation id, minted once at the source event —
        nullable during phase 1 since no event-correlation pipeline exists
        yet. `recordedAt` lets callers order versions in the meantime.


        Returns a not found response if the case, hearing, or defendant
        does not exist.


        This operation returns OFFICIAL-SENSITIVE data indirectly (each
        entry can be a starting point for a defendant-scoped lookup).
      operationId: getPcrHearingResultsMetadata
      tags:
        - pcr
      parameters:
        - $ref: "#/components/parameters/CaseUrnPath"
        - $ref: "#/components/parameters/HearingIdPath"
        - $ref: "#/components/parameters/DefendantIdPath"
        - $ref: "#/components/parameters/VersionIdQuery"
      responses:
        '200':
          description: PCR Hearing Results versions metadata list
          headers:
            X-Correlation-Id:
              description: Echoes the request correlation ID for end-to-end tracing
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PcrVersionMetadataList"
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '500':
          $ref: "#/components/responses/InternalServerError"

  /internal/hearing-results:
    post:
      summary: Receive Hearing_Resulted events from Azure Event Grid
      description: >-
        Internal webhook endpoint. Azure Event Grid delivers Hearing_Resulted
        pointer events here directly (EventGridSchema, delivered as a JSON
        array). Also receives Event Grid's subscription validation handshake
        on first subscribe.
      operationId: receiveHearingResultedWebhook
      tags:
        - Internal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/HearingResultedWebhookEvent"
      responses:
        '200':
          description: >-
            Event accepted (Hearing_Resulted processed, or subscription
            validation handshake echoed back).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAck"
        '400':
          description: Malformed payload or unrecognized eventType — Event Grid will not retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Unrecognized eventType: Hearing_Amended"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "b2f1c3d4e5f60718"
        '503':
          description: >-
            Hearing details not yet complete after in-process retries —
            Event Grid should redeliver per its own retry policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "Hearing details for hearingId f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c still incomplete after 3 retries"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "e5c4d6f708192a3b"
        '500':
          description: An unexpected error occurred while processing the event.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "An unexpected error occurred while processing the request"
                timestamp: "2026-07-15T11:33:22.794Z"
                traceId: "f6d5e708192a3b4c"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: >-
        HMCTS APIM subscription key identifying the consuming system. Issued
        per consumer when their APIM product subscription is provisioned.

  parameters:
    CaseUrnPath:
      in: path
      name: caseURN
      required: true
      description: Unique Case URN identifying the prosecution case
      schema:
        type: string
      example: "example-case-urn"
    HearingIdPath:
      in: path
      name: hearingId
      required: true
      description: Unique identifier of the hearing
      schema:
        type: string
        format: uuid
      example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
    DefendantIdPath:
      in: path
      name: defendantId
      required: true
      description: Unique identifier of the defendant
      schema:
        type: string
        format: uuid
      example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
    VersionIdQuery:
      in: query
      name: versionId
      required: false
      description: >-
        Filters the version metadata list down to the single version with
        this source correlation id. Omit to list metadata for every
        recorded version.


        The id is minted once at the source event and propagated through —
        not generated by this API. It is hearing-scoped, not
        defendant-scoped: the same id is shared across every defendant
        resulted from the same source event.
      schema:
        type: string
      example: "01h9f2c3-b4a5-4e6f-8a9b-0c1d2e3f4a5b"

  responses:
    BadRequest:
      description: Bad input parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "BAD_REQUEST"
            message: "The supplied hearingId is not a valid UUID"
            details:
              parameter: "hearingId"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "b2f1c3d4e5f60718"
    NotFound:
      description: The case, hearing, or defendant does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "NOT_FOUND"
            message: "No case, hearing, or defendant found for the supplied identifiers"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "e5c4d6f708192a3b"
    InternalServerError:
      description: An unexpected error occurred
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "INTERNAL_SERVER_ERROR"
            message: "An unexpected error occurred while processing the request"
            timestamp: "2026-07-15T11:33:22.794Z"
            traceId: "f6d5e708192a3b4c"

  schemas:
    HearingResultedWebhookEvent:
      type: object
      required: [id, eventType, data]
      description: >-
        Covers both Event Grid's subscription-validation handshake
        (eventType Microsoft.EventGrid.SubscriptionValidationEvent) and the
        real Hearing_Resulted event — the service branches on eventType.
      properties:
        id:
          type: string
          example: "b2f1c3d4-e5f6-4708-91a2-b3c4d5e6f708"
        eventType:
          type: string
          example: Hearing_Resulted
        subject:
          type: string
          example: "hearing/9c7e33d3-e6c0-4138-b7fb-b176554ae98c"
        eventTime:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        dataVersion:
          type: string
          example: "1.0"
        metadataVersion:
          type: string
          example: "1"
        topic:
          type: string
          example: "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hmcts-cp/providers/Microsoft.EventGrid/topics/hearing-results"
        data:
          type: object
          description: validationCode/validationUrl for the handshake; hearingId/hearingDay/userId for a real event.
          properties:
            validationCode:
              type: string
              example: "2D1781C7-EBFC-4D6A-8CB9-19B2B4EFB13B"
            validationUrl:
              type: string
              example: "https://rp-eastus2.eventgrid.azure.net/eventsubscriptions/hearing-results/validate?id=2D1781C7-EBFC-4D6A-8CB9-19B2B4EFB13B"
            hearingId:
              type: string
              format: uuid
              example: "9c7e33d3-e6c0-4138-b7fb-b176554ae98c"
            hearingDay:
              type: string
              format: date
              example: "2026-07-15"
            userId:
              type: string
              format: uuid
              example: "00000000-0000-0000-0000-000000000099"

    WebhookAck:
      type: object
      properties:
        validationResponse:
          type: string
          description: Only present when acknowledging a subscription validation handshake.
          example: "2D1781C7-EBFC-4D6A-8CB9-19B2B4EFB13B"

    PcrHearingResult:
      description: >-
        A single recorded PCR result for a hearing and defendant. No
        `defendantId` (already in the path) and no `id` (nullable during
        phase 1 — see `PcrVersionMetadata.id`).
      type: object
      properties:
        caseURN:
          description: >-
            Prosecution case URN — CP's own field name (`ProsecutionCaseIdentifier.caseURN`
            in `cpp-context-hearing`), not an invented API-only name.
          type: string
          example: "example-case-urn"
        caseMarkers:
          description: >-
            Case-level markers recorded against the prosecution case (e.g.
            domestic-violence, vulnerability) — a case-level fact in CP, not
            derived per offence or per defendant.
          type: array
          items:
            $ref: "#/components/schemas/CaseMarker"
        defendant:
          $ref: "#/components/schemas/Defendant"
        custodyLocation:
          $ref: "#/components/schemas/CustodyLocation"
        hearing:
          $ref: "#/components/schemas/HearingDetails"
        nextHearing:
          $ref: "#/components/schemas/NextHearing"
        offences:
          description: Results for each offence charged against the defendant at this hearing
          type: array
          items:
            $ref: "#/components/schemas/Offence"
        courtApplications:
          description: >-
            Court applications (bail applications, variations, etc.) and any
            results recorded against them.
          type: array
          items:
            $ref: "#/components/schemas/CourtApplication"
        defendantResults:
          description: >-
            Judicial results recorded directly against the defendant, not
            tied to any specific case, offence, or application — CP's
            `hearing.defendantJudicialResults[].judicialResult`, matched by
            this defendant's own id.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"
        caseResults:
          description: >-
            Judicial results recorded directly against the case, not tied to
            any specific offence — CP's
            `defendant.defendantCaseJudicialResults[]`, distinct from
            `offences[].offenceResults`.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"

    CustodyLocation:
      description: >-
        The defendant's custody location at the time of the hearing. Maps to
        CP's `custodialEstablishment`.
      type: object
      nullable: true
      properties:
        name:
          description: Prison/establishment display name.
          type: string
          nullable: true
          example: "HMP Dovegate"
        custodyType:
          description: >-
            Custody-type classification (e.g. `Prison`) vs. other custody
            types such as police custody. Full value set unconfirmed.
          type: string
          nullable: true
          example: "Prison"

    HearingDetails:
      description: Facts recorded about the hearing itself, for a single PCR result.
      type: object
      properties:
        id:
          description: Unique identifier of the hearing the result was recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        courtDetails:
          $ref: "#/components/schemas/CourtDetails"
        hearingDate:
          description: Date of the hearing.
          type: string
          format: date
          example: "2026-06-23"
        hearingOutcome:
          description: >-
            Recorded outcome of the hearing, where set. Open item: whether
            this should be constrained to an enumerated set of values is
            still being confirmed with the business — currently free text.
          type: string
          nullable: true
          example: "Adjourned"
        hearingType:
          description: >-
            Classification of the hearing itself, e.g. "First hearing". CP
            sends this as an object (id + description); only the
            human-readable description is surfaced here, matching the
            convention for CourtApplication.type.
          type: string
          nullable: true
          example: "First hearing"
        jurisdiction:
          description: The hearing's jurisdiction type, e.g. "MAGISTRATES".
          type: string
          nullable: true
          example: "MAGISTRATES"
        defendantAppearanceDetails:
          description: >-
            How this defendant attended this hearing, resolved from the
            hearing's own attendance record for this defendant on the
            sitting day.
          type: string
          nullable: true
          example: "In person"

    NextHearing:
      description: >-
        The next scheduled hearing following this one, where known. CP's own
        field name (`nextHearing`), not an invented API-only name. Open item:
        when offences on the same case adjourn to different future dates,
        which one this object reflects is not yet confirmed on CP's side.
        `dateTime` merges date and time into a single field for beta — kept
        single pending confirmation with the business; may split back into
        separate date/time fields later.
      type: object
      nullable: true
      properties:
        hearingId:
          description: Identifier of the next hearing, where known.
          type: string
          format: uuid
          nullable: true
          example: "14085700-414d-4345-9dff-688a128f4177"
        dateTime:
          description: Scheduled date and time of the next appearance, where known.
          type: string
          format: date-time
          nullable: true
          example: "2026-07-21T09:00:00Z"
        court:
          $ref: "#/components/schemas/Court"

    CourtDetails:
      description: >-
        Court venue detail for the hearing itself — identity, postal address
        and Local Justice Area name. Kept separate from the shared `Court`
        schema (used here and on `NextHearing`) because address and LJA name
        are only ever sourced for the hearing's own venue, never for a next
        hearing, so `NextHearing` cannot offer them.
      type: object
      nullable: true
      properties:
        court:
          $ref: "#/components/schemas/Court"
        courtAddress:
          $ref: "#/components/schemas/Address"
        ljaName:
          description: >-
            Local Justice Area name for the hearing's court centre — CP's
            courtCentre.lja.ljaName.
          type: string
          nullable: true
          example: "South East London Magistrates' Court"

    Court:
      description: >-
        Court house identity — shared shape for both the hearing and the
        next hearing, since they identify a court house the same way.
      type: object
      nullable: true
      properties:
        courtHouseId:
          description: CP Reference Data's court house UUID.
          type: string
          format: uuid
          nullable: true
          example: "7e967376-eacf-4fca-9b30-21b0c5aad427"
        courtHouseCode:
          description: >-
            CP Reference Data's court house code. CP's own faithful
            identifier for the court house — resolving it to any other
            consumer's reference data is the consumer's concern, not this
            contract's.
          type: string
          nullable: true
          example: "LND001"
        courtHouseName:
          description: Name of the court house, for display without a Reference Data lookup.
          type: string
          nullable: true
          example: "Central London Crown Court"

    PcrVersionMetadataList:
      description: >-
        Metadata for every version recorded for a single `(hearingId,
        defendantId)` pair, or the single matching entry when filtered by
        `versionId` — always a list, even when filtered down to one or zero
        entries.
      type: object
      properties:
        versions:
          description: Version metadata entries, in no guaranteed order.
          type: array
          items:
            $ref: "#/components/schemas/PcrVersionMetadata"

    PcrVersionMetadata:
      description: >-
        Identifying metadata for a single recorded version — not the full
        PCR data (see `PcrHearingResult`, returned by the version-history endpoint,
        for that).
      type: object
      properties:
        id:
          description: >-
            Source correlation id for this version. Minted once at the
            source event and propagated through — not generated by this API.
            Hearing-scoped, not defendant-scoped. Nullable during the phase 1
            stateless-proxy rollout, where no event-correlation pipeline
            exists yet to populate it — tightens to always-present once
            phase 2 delivers real correlation ids.
          type: string
          nullable: true
          example: "01h9f2c3-b4a5-4e6f-8a9b-0c1d2e3f4a5b"
        hearingId:
          description: Unique identifier of the hearing the version was recorded at
          type: string
          format: uuid
          example: "f1d2c3b4-a5e6-4f7a-8b9c-0d1e2f3a4b5c"
        defendantId:
          description: Unique identifier of the defendant the version was recorded for
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        recordedAt:
          description: >-
            When this version was recorded by the Data Store. Lets callers
            distinguish and order versions during phase 1, while `id` is
            still nullable.
          type: string
          format: date-time
          nullable: true
          example: "2026-07-15T11:33:22.794Z"

    CaseMarker:
      description: A marker recorded against the whole prosecution case
      type: object
      properties:
        description:
          description: >-
            Human-readable description of the marker — CP's
            `caseMarkers[].markerTypeDescription`.
          type: string
          nullable: true
          example: "Domestic Violence"

    Defendant:
      description: >-
        Defendant identity as recorded on the prosecution case at this
        hearing. All fields here are personal data (OFFICIAL-SENSITIVE) —
        handle per HMCTS data protection policy; do not log.
      type: object
      properties:
        id:
          description: CP's unique identifier for the defendant
          type: string
          format: uuid
          example: "7a6b5c4d-3e2f-4109-8a7b-6c5d4e3f2a1b"
        masterDefendantId:
          description: >-
            Master defendant identifier used to resolve the defendant's
            identity across cases and appearances, where resolved.
          type: string
          format: uuid
          nullable: true
          example: "a1f2e3d4-c5b6-4789-9abc-1d2e3f4a5b6c"
        title:
          description: Title, where recorded (e.g. "Mr", "Ms").
          type: string
          nullable: true
          example: "Mr"
        firstName:
          description: First name.
          type: string
          nullable: true
          example: "John"
        middleName:
          description: Middle name, where recorded.
          type: string
          nullable: true
          example: "Quinn"
        lastName:
          description: Last name.
          type: string
          nullable: true
          example: "Doe"
        dateOfBirth:
          description: Date of birth.
          type: string
          format: date
          nullable: true
          example: "1980-01-31"
        address:
          $ref: "#/components/schemas/Address"
        gender:
          description: Gender, where recorded.
          type: string
          nullable: true
          example: "MALE"
        nationality:
          description: Nationality, where recorded.
          type: string
          nullable: true
          example: "British"
        postHearingCustodyStatus:
          description: >-
            The defendant's overall post-hearing custody status for this
            hearing, resolved once per defendant across their case-level
            judicial results — not to be confused with a specific result's
            own status. Matches the legacy PCR pipeline's own resolution:
            the first case-level result whose status isn't already
            "Not Applicable", defaulting to "Not Applicable" otherwise.
          type: string
          example: "Not Applicable"

    Address:
      description: A postal address.
      type: object
      properties:
        address1:
          type: string
          nullable: true
          example: "1 Example Street"
        address2:
          type: string
          nullable: true
          example: "Example District"
        address3:
          type: string
          nullable: true
          example: "London"
        address4:
          type: string
          nullable: true
          example: "Greater London"
        address5:
          type: string
          nullable: true
          example: ""
        postCode:
          type: string
          nullable: true
          example: "SW1A 1AA"

    Offence:
      description: A single offence and the result(s) recorded against it
      type: object
      properties:
        code:
          description: Offence code, aligned with OMS.
          type: string
          example: "example-offence-code"
        title:
          description: Offence title.
          type: string
          nullable: true
          example: "Theft from a shop"
        wording:
          description: Full wording of the offence as charged.
          type: string
          nullable: true
          example: "Stole a bicycle belonging to another, contrary to section 1(1) of the Theft Act 1968."
        startDate:
          description: Offence start date.
          type: string
          format: date
          example: "2026-06-13"
        endDate:
          description: >-
            Offence end date, where recorded — populated for terminated
            offences only.
          type: string
          format: date
          nullable: true
          example: "2026-06-20"
        listingNumber:
          description: The listing/count number the offence was recorded against, where set.
          type: integer
          nullable: true
          example: 1
        convictionDate:
          description: Conviction date recorded against the offence, where applicable.
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        pleaValue:
          description: Plea recorded against the offence, where taken.
          type: string
          nullable: true
          example: "GUILTY"
        pleaDate:
          description: Date the plea was recorded, where taken. Kept as its own field rather than folded into pleaValue's text.
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        verdict:
          description: >-
            Verdict recorded against the offence, where applicable — CP's
            verdict.verdictType.description (e.g. "Found guilty").
          type: string
          nullable: true
          example: "Found guilty"
        offenceLegislation:
          description: The legislation the offence was charged under, where recorded.
          type: string
          nullable: true
          example: "Contrary to section 8(1) of the Theft Act 1968."
        allocationDecision:
          description: >-
            Mode-of-trial allocation decision reason, where recorded — CP's
            allocationDecision.motReasonDescription.
          type: string
          nullable: true
          example: "Indictable-only offence"
        indicatedPleaValue:
          description: >-
            Indicated plea recorded against the offence, where taken — CP's
            indicatedPlea.indicatedPleaValue. Distinct from pleaValue, which
            is the plea actually entered.
          type: string
          nullable: true
          example: "INDICATED_NOT_GUILTY"
        offenceResults:
          description: >-
            Judicial result(s) recorded against this offence. An offence can
            carry more than one result (e.g. a conviction result plus a
            separate costs/compensation or ancillary result) — this is CP's
            real shape and is not collapsed to a single result.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"

    ResultText:
      description: >-
        A single judicial result, with its Reference Data classification and
        any sentence detail it carries. Reused for both offence results and
        court application results — they are the same kind of CP fact,
        wherever they are recorded.
      type: object
      properties:
        resultText:
          description: Rendered result text.
          type: string
          example: "Sentenced to 6 months imprisonment"
        resultTexts:
          description: >-
            Raw judicial result prompts recorded against this result, exposed
            as-is so consumers can build their own downstream logic on top of
            structured signals (e.g. terrorism/foreign-power flags) rather
            than depend only on CP's own derived convenience fields.
          type: array
          items:
            $ref: "#/components/schemas/Text"

    Text:
      description: A single prompt recorded against a judicial result
      type: object
      properties:
        label:
          type: string
          nullable: true
          example: "Total custodial period"
        value:
          type: string
          nullable: true
          example: "5 Months"

    CourtApplication:
      description: A court application (bail application, variation, etc.) and any results recorded against it
      type: object
      properties:
        reference:
          description: Court application reference
          type: string
          example: "example-application-reference"
        type:
          description: Application type.
          type: string
          nullable: true
          example: "Application within criminal proceedings"
        decision:
          description: Decision made on the application, where applicable.
          type: string
          nullable: true
          example: "Granted"
        decisionDate:
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        response:
          description: Response to the application, where applicable.
          type: string
          nullable: true
          example: "Consented"
        responseDate:
          type: string
          format: date
          nullable: true
          example: "2026-06-13"
        applicationResults:
          description: >-
            Judicial results recorded directly against the application itself
            (CP source: `CourtApplication.judicialResults`) — distinct from
            results recorded against a specific offence the application
            relates to, which appear under `offences[].offenceResults`
            instead.
          type: array
          items:
            $ref: "#/components/schemas/ResultText"
        offences:
          description: >-
            Offence(s) this application relates to, where linked — CP source:
            `CourtApplication.courtApplicationCases[].offences[]` (the same
            offences as the linked case) and `courtOrder.courtOrderOffences[]`,
            folded together here since consumers don't need to distinguish how
            an offence came to be linked to the application. Empty for a
            standalone application with no case/offence link.
          type: array
          items:
            $ref: "#/components/schemas/Offence"

    ErrorResponse:
      description: Standard error response
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "No PCR version found for the supplied identifiers"
        details:
          description: Additional error context, where applicable
          type: object
          nullable: true
          properties:
            parameter:
              description: Name of the invalid request parameter, for BAD_REQUEST errors
              type: string
              nullable: true
              example: "hearingId"
            id:
              description: The source correlation id supplied in the request, for NOT_FOUND errors
              type: string
              nullable: true
              example: "01h9f2c3-b4a5-4e6f-8a9b-0c1d2e3f4a5b"
        timestamp:
          type: string
          format: date-time
          example: "2026-07-15T11:33:22.794Z"
        traceId:
          type: string
          description: Unique identifier for error tracing
          example: "b2f1c3d4e5f60718"